extends ../../layouts/default.pug

block style 
  link(rel="stylesheet", href="/client/css/about-index.css")

block main 
  .section-1
    .container 
      .row  
        .col-12 
          .inner-wrap
            h2.text-center Giới thiệu
            p.text-justify In ấn phẩm là dịch vụ quan trọng trong các hoạt động quảng cáo, truyền thông và thương hiệu của doanh nghiệp. Các sản phẩm in ấn phòng phẩm bao gồm tài liệu văn phòng, danh thiếp, bao thư, tờ rơi, tập san và lịch, là công cụ hữu ích giúp công ty xây dựng hình ảnh chuyên nghiệp. Việc thiết kế và in ấn phòng phẩm chất lượng không chỉ tạo ấn tượng tốt với khách hàng mà còn tăng tính nhất quán cho thương hiệu, tạo cảm giác tin cậy và khẳng định vị thế của công ty trong lòng đối tác và khách hàng.
  .container
    .section-2
      .row.align-items-center 
        .col-6
          .inner-wrap 
            h4 1. Đa dạng sản phẩm & chất lượng vượt trội
            p Cung cấp dịch vụ in ấn trên nhiều loại sản phẩm khác nhau, từ tài liệu văn phòng như sách, tạp chí, brochure, catalogue cho đến các sản phẩm quảng cáo như banner, poster, standee, flyer. Đặc biệt, chúng tôi còn có dịch vụ in ấn các sản phẩm cá nhân hóa như thiệp cưới, thiệp mời, lịch để bàn, áo thun, cốc, túi vải,...
            p Sử dụng công nghệ in ấn hiện đại, cam kết mang đến cho bạn những sản phẩm với màu sắc sắc nét, hình ảnh chân thực và chất lượng cao nhất. Chúng tôi lựa chọn vật liệu in đa dạng và cao cấp, đảm bảo sản phẩm bền đẹp và ấn tượng. 
        .col-6
          .inner-images 
            .inner-image
              img(src="/client/images/about-1.png" alt="") 
            .inner-image
              img(src="/client/images/about-2.png" alt="") 
    
    .section-3
      .row.align-items-center 
        .col-6
          .inner-images 
            .inner-images-child
              .inner-image
                img(src="/client/images/about-3.png" alt="") 
              .inner-image
                img(src="/client/images/about-4.png" alt="")
            .inner-image
              img(src="/client/images/about-5.png" alt="")
        .col-6
          .inner-wrap 
            h4 2. Cá nhân hóa thiết kế & công nghệ in hiện đại
            p In ấn phòng phẩm đóng vai trò quan trọng trong việc tạo dựng hình ảnh thương hiệu của doanh nghiệp. Với sự đa dạng về sản phẩm như danh thiếp, phong bì, tập san và các tài liệu quảng bá, dịch vụ in ấn phòng phẩm không chỉ cung cấp các sản phẩm chất lượng mà còn giúp thương hiệu nổi bật trong mắt khách hàng. Sự tinh tế trong thiết kế và in ấn góp phần xây dựng niềm tin và tăng cường mối quan hệ với đối tác.
    
    .section-4
      .row.align-items-center 
        .col-6
          .inner-wrap 
            h4 3. Linh hoạt & tiện lợi
            p Không cần phải đặt hàng số lượng lớn, bạn hoàn toàn có thể đặt in số lượng ít theo nhu cầu mà vẫn đảm bảo chất lượng.  cung cấp dịch vụ thiết kế và chỉnh sửa theo yêu cầu, giúp bạn dễ dàng thay đổi thiết kế và cập nhật thông tin một cách nhanh chóng và tiện lợi.
            p Quy trình đặt hàng và sản xuất tại đây được tối ưu hóa để tiết kiệm thời gian cho khách hàng. Chúng tôi cung cấp dịch vụ giao hàng tận nơi nhanh chóng và tiện lợi. Đặc biệt, với mức giá cạnh tranh, bạn sẽ tiết kiệm được chi phí mà vẫn nhận được sản phẩm chất lượng cao.
        .col-6
          .inner-images 
            .inner-image
              img(src="/client/images/about-6.png" alt="") 
            .inner-image
              img(src="/client/images/about-7.png" alt="")   

    .section-5
      .row.align-items-center 
        .col-6
          .inner-images 
            .inner-image.mb-3
              img(src="/client/images/about-8.png" alt="") 
            .inner-image.mb-3
              img(src="/client/images/about-9.png" alt="")
            .inner-image
              img(src="/client/images/about-10.png" alt="")
            .inner-image
              img(src="/client/images/about-11.png" alt="")
        .col-6
          .inner-wrap 
            h4.mb-5 4. Công nghệ in hiện đại
            .para.mb-3 
              h5 a. In kỹ thuật số (in 2D)
              p Sử dụng máy in kỹ thuật số hiện đại, POD đảm bảo màu sắc chân thực, hình ảnh sắc nét và độ chính xác cao. Công nghệ này phù hợp với các đơn hàng số lượng nhỏ và các sản phẩm cá nhân hóa, giúp giảm thiểu chi phí và thời gian sản xuất.
            .para.mb-3 
              h5 b. In offset (in 2D)
              p Đối với các đơn hàng số lượng lớn, chúng tôi áp dụng công nghệ in offset để đảm bảo chi phí thấp mà vẫn giữ được chất lượng in ấn tuyệt vời. Công nghệ này mang lại khả năng in ấn nhanh chóng, màu sắc tươi sáng và độ bền cao.
            .para.mb-3 
              h5 c. In 3D
              p Đối với những sản phẩm độc đáo và sáng tạo, POD áp dụng công nghệ in 3D để tạo ra các sản phẩm in ấn ba chiều với độ chi tiết cao, mang đến trải nghiệm hoàn toàn mới lạ cho khách hàng.
            .para.mb-3 
              h5 d. In nổi
              p In nổi, hay còn gọi là in emboss, là một kỹ thuật in ấn tạo ra các chi tiết nổi lên bề mặt của vật liệu, tạo ra hiệu ứng ba chiều. Quy trình này thường được sử dụng để tạo ra các thiết kế có chiều sâu và cảm giác nổi bật, mang lại tính thẩm mỹ cao cho sản phẩm in ấn.

    .row.justify-content-end.position-relative 
      .col-10 
        .section-6
          h2.text-white Liên hệ
          form.inner-form(action="#") 
            input(
              class="inner-form-item"
              type="text"
              name="fullname"
              placeholder="Họ và tên"
              required
            )
            input(
              class="inner-form-item"
              type="email"
              name="email"
              placeholder="Email"
              required
            )
            input(
              class="inner-form-item"
              type="tel"
              name="phone"
              placeholder="Số điện thoại"
              required
            )
            textarea(name="content" class="inner-form-item" rows="5") Nội dung
            button(type="submit") Gửi đi
